body {
  font-family: Arial, Helvetica, sans-serif;
 
}

h1 {
  
  margin-top: 10px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}


li {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

li:first-letter{
  text-transform: capitalize;
}

 a{
  text-decoration: none;
} 

.weather-app {
background: #fffcea;
  max-width: 600px;
  margin: 30px auto;
}

.weather-border {
  padding: 20px;
border: 2px solid  #dadde1;
border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}



.open-source {
  text-decoration: none;
  
}

.open-source:hover {
  text-decoration: underline;
}

.city {
  color: rgb(47, 89, 144);
}
.temperature {
  
  font-size: 64px;
  font-weight: 40;
  line-height: 1;
}
.weather-temperature img {
vertical-align: top;
height: 64px;
  width: 64px;
}

.units {
  position: relative;
  top: -34px;
 
}

.weather-temperature .active{
  color: black;
  cursor: default;
}

.weather-temperature .active:hover{
  text-decoration: none;
}



 #fahrenheit-link:hover {
  text-decoration: underline;
}  

#celsius-link:hover {
text-decoration: underline;
} 


.row {
  margin: 0;
  padding: 0;
}

